<h1>Exibindo Restaurante</h1>

<p>
	Nome: <%= @restaurante.nome%>
</p>
<p>
	Endereço: <%= @restaurante.endereco%>
</p>
<p>
	Especialidade: <%= @restaurante.especialidade%>
</p>
<p>
	<h2>Nota média</h2>
	<%= @restaurante.qualificacaos.average(:nota)%>
</p>
<p>
	<h2>Qualificações</h2>
	<%= @restaurante.qualificacaos.count%>
</p>
<p>
	<h2>Preço médio</h2>
	<%= @restaurante.qualificacaos.average(:valor_gasto)%>
</p>

<p>
	<%= comentarios @restaurante%>
</p>

<p>
	<%= novo_comentario @restaurante%>
</p>
<%= link_to 'Voltar', action: "index"%>
<%= link_to 'Editar', action: "edit", id: @restaurante%>
<%= link_to 'Nova qualificação', controller: "qualificacaos", action: "new", restaurante: @restaurante%>